/* *, *::before, *::after {
  outline: 1px solid lightseagreen;
} */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.page {
  width: 100%;
  min-width: 1440px;/*Временно!*/
  height: 2795px;/*Временно!*/

  margin: 0;
  padding: 0;

  font-family: "Open sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}
/*Класс убирающий подчеркивание и добавляющий цвет для ссылок*/
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.link:focus,
.input:focus {
  outline: none;
}
/*Класс для добавления шрифта заголовкам*/
.headline {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  line-height: normal;
}
/*Класс в основном используется для интерактивных элементов(ссылки, кнопки)*/
.font {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
/*Класс для задания основному тексту цвета*/
.desc {
  color: rgb(70, 70, 70);
}
/*Класс для оформления и поведения кнопок*/
.btn {
  position: relative;
  z-index: 0;/*Решение проблемы с кнопками!*/

  width: 220px;
  display: inline-block;
  padding: 9px 0;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;/*Беда с кнопками. Решено!*/

  background-color: rgb(240, 197, 46);
  transform: scaleY(0.14);
}
.btn:hover::before,
.btn:focus::before {
  transform: scaleY(1);
}
.btn:active,
.btn:active::before {
  color: rgba(0, 0, 0, 0.3);

  transform: scaleY(1);
}
.content-layout {
  width: 1160px;
  height: auto;
  margin: 0 auto;
}
/*Начало хедера*/
.page-header {
  height: 299px;
  margin-top: 40px;

  line-height: 36px;

  background-color: rgba(240, 197, 46, 0.5);
}
.inner-page .page-header {
  height: 186px;
  margin-bottom: 31px;
}
/*Контейнер для текста в хедере!*/
.header-layout {
  width: 1040px;
  min-height: 299px;/*Временно!*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/*Контейнер для текста в мейн блоке!*/
.main-layout {
  position: relative;

  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

.logo {
  width: 200px;
  height: 34px;
  margin-top: -18px;
  margin-bottom: 19px;
}
/*Изменение цвета логотипа в футере*/
.logo--yellow {
  fill: rgb(255, 198, 0);
}
.logo:hover,
.logo:focus {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}

.page-header__top-floor {
  width: 100%;
  min-height: 50px;/*Временно!*/
  display: flex;
  margin-bottom: 21px;
  justify-content: space-between;
}
.page-header__form {
  width: 440px;
  min-height: 50px;/*Временно!*/
}
/*Чтобы разместить иконку поиска*/
.page-header__form-paragraph {
  position: relative;

  margin: 0;
}
/*задание цвета, и поведение подписи для поля поиска*/
.page-header__form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.page-header__form-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.page-header__form-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}
.page-header__form-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.page-header__form-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.page-header__form-input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
/*Иконка для поиска*/
.page-header__form-label {
  position: absolute;
  top: 14px;
  left: 3px;

  width: 16px;
  height: 16px;
  display: block;

  background-color: transparent;
  background-image: url("../img/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}
/*Поле поиска*/
.page-header__form-input {
  width: 356px;
  padding-left: 39px;

  font: inherit;
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: none;
}
.page-header__form-input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.page-header__form-input:focus ~ .page-header__form-submit {
  opacity: 1;
}
/*Кнопка отправки поискового запроса*/
.page-header__form-submit {
  width: 81px;
  height: 43px;
  margin-left: -4px;

  font: inherit;
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  opacity: 0;
}
.page-header__form-submit:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}
.page-header__form-submit:focus {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
  opacity: 1;
}
.page-header__form-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(0, 0, 0);
}
.top-nav {
  width: 500px;
  min-height: 50px;/*Временно!*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Навигация (ВХОД и ПОДМЕНЮ)*/
.user-nav,
.sub-nav {
  list-style: none;
}
.top-nav__list {
  width: 260px;
  display: flex;
  padding: 0;
  margin: 0;
}

.page-nav {
  z-index: 1;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.page-nav__list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.page-nav__item {
  position: relative;
}
.page-nav__sub-bg {
  position: absolute;
  top: 27px;
  left: -60px;
  z-index: -1;

  display: none;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: rgb(247, 226, 150);
}
.sub-nav {
  display: flex;
  width: 600px;
  height: 108px;
  padding: 25px 0 33px 0;
  margin: 0;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.sub-nav__item:last-child {
  height: 38px;
}
.page-nav__item:hover > .page-nav__sub-bg,
.page-nav__item:focus > .page-nav__sub-bg {
  display: block;
}
/*Основная навигация*/
.page-nav__link {
  position: relative;
}
/*Иконка для ссылки каталог товаров*/
.page-nav__link::before {
  content: "";
  position: absolute;
  top: 3px;
  right: -26px;

  width: 16px;
  height: 16px;
  display: block;

  background-color: transparent;
  background-image: url("../img/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}
/*Для установки иконок для (ВХОД, СРАВНИТЬ, КОРЗИНА)*/
.top-nav__link,
.bottom-nav__link {
  padding: 0;
  margin: 0;
  position: relative;
}

/*Контейнер для ссылок СРАВНИТЬ И КОРЗИНА*/
.top-nav__content-layout,
.bottom-nav__content-layout {
  /* width: 220px; */
  width: 222px;
}
.user-nav__link {
  width: 100px;
  margin-left: 25px;
}
.user-nav__exit {
  margin: 0;
}
.user-nav__name {
  margin-right: 22px;
}
.compare-link {
  width: 100px;
  margin-left: 30px;
}
.basket-link {
  width: 100px;
  margin-left: 59px;
}
.top-nav__link::before,
.bottom-nav__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;

  width: 13px;
  height: 12px;
  display: block;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.user-nav__link::before {
  background-image: url("../img/user-icon.svg");
}
/*Убираем иконку у ссылки ВЫХОД*/
.user-nav__exit::before {
  content: "";
  display: none;
}
.compare-link::before {
  background-image: url("../img/compare-icon.svg");
}
.basket-link::before {
  background-image: url("../img/cart-icon.svg");
}
/*Поведение иконок при наведении, фокусе и нажатии*/
.top-nav__link:hover::before,
.top-nav__link:focus::before,
.bottom-nav__link:hover::before,
.bottom-nav__link:focus::before {
  opacity: 0.6;
}
.top-nav__link:active::before,
.bottom-nav__link:active::before {
  opacity: 0.3;
}
/*Поведение текста меню (ВХОД, СРАВНИТЬ, КОРЗИНА, ПОДМЕНЮ и СЕРВИС МЕНЮ 'Доставка, Гарантия, Контакты')*/
.top-nav__link:hover,
.top-nav__link:focus,
.sub-nav__link:hover,
.sub-nav__link:focus,
.page-nav__link:hover,
.page-nav__link:focus,
.top-service__link:hover,
.top-service__link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.top-nav__link:active,
.sub-nav__link:active,
.page-nav__link:active,
.top-service__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.service-nav {
  width: 500px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.top-service__item:first-child {
  margin-right: 35px;
}
.top-service__item:last-child {
  margin-left: 108px;
}

.hit-product {
  /* width: 100%; */
  height: 489px;
  /* padding-left: 60px;
  padding-right: 60px; */
  margin-top: -110px;
  margin-bottom: 100px;
}
.hit-product__form {
  position: relative;
  z-index: 0;
}
.hit-product__form::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 600px;

  width: 100px;
  height: 6px;
  display: block;

  background-color: rgb(255, 255, 255);
}
/*Задает иконку для управляющих кнопок слайдера*/
.hit-product__control {
  position: absolute;
  z-index: 1;

  width: 12px;
  height: 12px;
  display: inline-block;

  background-color: transparent;
  background-image: url("../img/slider-button.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
.radio-1 {
  top: 326px;
  right: 149px;
}
.radio-2 {
  top: 326px;
  right: 116px;
}
.radio-3 {
  top: 326px;
  right: 84px;
}
/*Поведение кнопок слайдера*/
.radio-first:checked ~ .radio-1,
.radio-second:checked ~ .radio-2,
.radio-third:checked ~ .radio-3,
.hit-product__control:hover {
  background-image: url("../img/slider-button-active.svg");
}
.hit-product__slider-list {
  position: relative;
  z-index: 0;

  width: 1100px;
  min-height: 486px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto 0 0;

  list-style: none;
}
.hit-product__slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}
.radio-first:checked ~ .hit-product__slider-list > .slide-1 {
  z-index: 1;
  visibility: visible;
}
.radio-second:checked ~ .hit-product__slider-list > .slide-2 {
  z-index: 1;
  visibility: visible;
}
.radio-third:checked ~ .hit-product__slider-list > .slide-3 {
  z-index: 1;
  visibility: visible;
}
.hit-product__slide-info {
  width: 501px;
  order: 2;
}
.hit-product__slide-headline {
  margin-top: 76px;
  margin-bottom: 17px;

  letter-spacing: 0.5px;
}
.hit-product__slide-desc {
  margin-bottom: 43px;

  letter-spacing: 0.22px;
}
.hit-product__slide-more-btn {
  margin-bottom: 50px;
}
.hit-product__slide-img {
  flex-shrink: 0;
}
.slide-img__1 {
  margin-left: 90px;
}
.slide-img__2 {
  margin-top: 11px;
  margin-left: 116px;
}
.slide-img__3 {
  margin-top: 64px;
  margin-left: 31px;
}
.hit-product__slide:nth-child(1) > .hit-product__slide-img {
  width: 384px;
  /* height: 486px; */
}
.hit-product__slide:nth-child(2) > .hit-product__slide-img {
  width: 345px;
  height: 485px;
}
.hit-product__slide:nth-child(3) > .hit-product__slide-img {
  width: 526px;
  height: 334px;
}

.slide-table {
  text-align: left;
}
.slide-table__row {
  display: flex;
  margin-bottom: 8px;
}
.slide-table__row:last-child {
  margin-bottom: 0;
}
.slide-table__cell {
  margin-right: 77px;

  font-size: 36px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  line-height: normal;
}
.slide-table__cell:first-child {
  margin-left: -2px;
}
.slide-3 .slide-table__cell:first-child {
  margin-right: 60px;
}
.slide-table__cell:last-child {
  margin-right: 0;
}
.slide-table__head-cell {
  margin-right: 80px;

  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(70, 70, 70);
}
.slide-table__head-cell:first-child {
  margin-left: -2px;
}
.slide-3 .slide-table__head-cell:first-child {
  margin-right: 47px;
}
.slide-table__head-cell:last-child {
  margin-right: 0;
}
.hit-product__slide-num {
  position: absolute;
  top: -35px;
  right: -16px;
  z-index: -1;

  font-size: 179px;
  color: rgb(255, 255, 255);

  /* background-color: rgb(240, 197, 46); */
}

.popular-nav {
  /* width: 100%; */
  margin-bottom: 153px;
}
/*Меню популярных разделов*/
.popular-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}
.popular-nav__item {
  width: 160px;/*Оставлен для наглядности, будет убран*/
  height: 270px;/*Оставлен для наглядности, будет убран*/
}
.popular-nav__link {
  position: relative;

  width: 160px;
  display: block;
  margin-top: 196px;

  text-transform: none;
  letter-spacing: normal;
}
/*Общее правило для иконок популярного меню*/
.popular-nav__link::before,
.popular-nav__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 160px;
  height: 160px;
  display: block;
  margin-top: -194px;

  background-position: center;
  background-repeat: no-repeat;
}
/*Цвет задан отдельно, т.к. при анимации нужно либо делать прозрачным фон, либо само изображение*/
.popular-nav__link::before {
  background-color: rgba(240, 197, 46, 0.5);
}
/*Изображения для популярного меню*/
.popular-nav__item:nth-child(1) .popular-nav__link::after {
  background-image: url("../img/popular-1.svg");
}
.popular-nav__item:nth-child(2) .popular-nav__link::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px;
}
.popular-nav__item:nth-child(3) .popular-nav__link::after {
  background-image: url("../img/popular-3.svg");
  background-position: 50px center;
}
.popular-nav__item:nth-child(4) .popular-nav__link::after {
  background-image: url("../img/popular-4.svg");
  background-position: 29px 50px;
}
.popular-nav__item:nth-child(5) .popular-nav__link::after {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}
.popular-nav__item:nth-child(6) .popular-nav__link::after {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 50px;
}
/*Поведение текста популярного меню, фона для before и изображения для after*/
.popular-nav__link:hover,
.popular-nav__link:focus {
  color: rgb(0, 0, 0);
}
.popular-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.popular-nav__link:hover::before,
.popular-nav__link:focus::before {
  background-color: rgb(240, 197, 46);
}
.popular-nav__link:active::after {
  opacity: 0.3;
}

.tab-service {
  height: 288px;
  margin-bottom: 94px;

  background-color: rgb(229, 229, 229);/*Беда с кнопками. Надо решить!*/
  border: 1px solid transparent;
}
.tab-service__form {
  position: relative;

  display: flex;
}
/*Таб меню*/
.tab-service__control {
  position: absolute;
  left: 0;

  display: block;
  width: 160px;/*Переопределена ширина кнопок для btn*/
  margin-top: -20px;
  margin-bottom: 42px;
}
.tab-2 {
  top: 64px;
}
.tab-3 {
  top: 129px;
}
.tab-first:checked ~ .tab-1,
.tab-second:checked ~ .tab-2,
.tab-third:checked ~ .tab-3,
.tab-service__control:active {
  display: block;
  width: 258px;
  padding-left: 20px;

  text-align: left;
  color: rgb(247, 225, 132);

  background-color: rgb(0, 0, 0);
}
.tab-first:checked ~ .tab-1::before,
.tab-second:checked ~ .tab-2::before,
.tab-third:checked ~ .tab-3::before {
  display: none;/*Решение проблемы с кнопками*/
}
.tab-service__control:active::before {
  display: none;
}
.tab-service__form-list {
  /* position: absolute;
  top: -100px;
  left: 278px; */
  position: relative;
  z-index: 0;

  width: 814px;
  height: 319px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: -100px;
  margin-left: 277px;

  list-style: none;
  border-left: 7px solid rgb(0, 0, 0);
}
.tab-service__item {
  position: absolute;
  z-index: -1;

  width: 580px;
  height: 276px;

  visibility: hidden;
}
.tab-first:checked ~ .tab-service__form-list > .tab-content-1 {
  z-index: 0;
  visibility: visible;
}
.tab-second:checked ~ .tab-service__form-list > .tab-content-2 {
  z-index: 0;
  visibility: visible;
}
.tab-third:checked ~ .tab-service__form-list > .tab-content-3 {
  z-index: 0;
  visibility: visible;
}
.tab-service__item-headline {
  margin-bottom: 25px;

  letter-spacing: 0.8px;
}
.tab-service__item-desc {
  width: 440px;
  letter-spacing: 0.25px;
}
.tab-service__item-img {
  position: absolute;
  top: 63px;
  right: -113px;
}
.tab-img-1 {
  top: 63px;
  right: -113px;

  width: 136px;
  height: 164px;
}
.tab-img-2 {
  top: 39px;
  right: -133px;

  width: 171px;
  height: 194px;
}
.tab-img-3 {
  top: 39px;
  right: -109px;

  width: 156px;
  height: 186px;
}

.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}
/*Ссылки на партнеров*/
.partners__link {
  width: 260px;
  height: 100px;
  display: block;

  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 0.2;
}
.partners__name:nth-of-type(1) .partners__link {
  background-image: url("../img/partner-logo-1.jpg");
}
.partners__name:nth-of-type(2) .partners__link {
  background-image: url("../img/partner-logo-2.jpg");
}
.partners__name:nth-of-type(3) .partners__link {
  background-image: url("../img/partner-logo-3.jpg");
}
.partners__name:nth-of-type(4) .partners__link {
  background-image: url("../img/partner-logo-4.jpg");
}
.partners__link:hover,
.partners__link:focus {
  filter: none;
  opacity: 1;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

/*Блок о нас*/
.about-us {
  position: relative;

  width: 465px;
}
.about-us::before {
  content: "";
  position: absolute;
  top: -9px;

  width: 80px;
  height: 8px;

  background-color: rgb(0, 0, 0);
}
.about-us__headline {
  margin-bottom: 37px;
}
.about-us__info {
  margin-bottom: 30px;
}
.about-us__info:last-of-type {
  margin-bottom: 71px;
}
.about-us__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 36px;
  margin-bottom: 49px;
}
.about-us__item {
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;

  list-style-type: circle;
}
/*Переопределена ширина для кнопок btn*/
.about-us__more {
  width: 260px;
}

.contacts {
  position: relative;

  width: 560px;
}
.contacts::before {
  content: "";
  position: absolute;
  top: -9px;

  width: 80px;
  height: 8px;

  background-color: rgb(0, 0, 0);
}
.contacts__headline {
  margin-bottom: 37px;
}
.contacts__info {
  margin-bottom: 39px;
}
.contacts__map {
  margin-bottom: 60px;
}
.contacts__link {
  width: 260px;
}


.breadcrumbs-layout {
  /* height: 110px; */
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
}
.content-headline {
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}
/*Меню хлебных крошек*/
.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}
.breadcrumbs__item {
  margin-right: 38px;
}
.breadcrumbs__link {
  position: relative;

  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs__link::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;

  width: 4px;
  height: 7px;
  display: block;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}
.breadcrumbs__item:last-child .breadcrumbs__link:before {
  display: none;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}
.breadcrumbs__link-current,
.breadcrumbs__link-current:hover,
.breadcrumbs__link-current:focus,
.breadcrumbs__link-current:active {
  color: rgba(0, 0, 0, 0.3);
}

/* .catalog-columns {
  position: relative;

  display: flex;
} */
/* .catalog-layout {
  position: relative;
  justify-content: space-between;
} */
/* .catalog-layout::before {
  content: "";
  position: absolute;
  top: 0;

  width: 100vw;
  height: 70px;
  display: block;

  background-color: rgba(0, 0, 0, 0.08);
} */

.content-bg {
  width: 100%;

  background-image: linear-gradient(to left, rgb(255, 255, 255) 67.5%, rgba(0, 0, 0, 0.08) 32.5%);
}
.content-layout + .content-bg {
  height: 70px;

  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.08) 67.5%, rgba(0, 0, 0, 0.15) 32.5%);
}

/*Переопределение размера шрифта класса font*/
.filters__headline,
.sort__headline {
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 27px;
}

/*Форма сортировки*/
.sort {
  width: 759px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.sort__headline {
  width: 160px;
}
.sort__form {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort__form-selections,
.sort__form-sequence {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.sort__form-selections {
  width: 286px;
}
.sort__form-sequence {
  width: 42px;
}
.sort__form-label {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/*Лэйблы для иконок (ПО ВОЗРАСТАЮЩЕЙ, ПО УБЫВАЮЩЕЙ) и их поведение*/
.sequence-label {
  width: 11px;
  height: 10px;
  display: inline-block;

  background-color: transparent;
  background-image: url("../img/icon-down-dir.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.top-down {
  background-image: url("../img/icon-down-dir.svg");
  transform: rotate(180deg);
}
.sort__form-label:hover,
.sort__form-label:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sort__form-input:checked ~ .sort__form-label {
  color: rgb(0, 0, 0);
}
.sequence-label:hover,
.sequence-label:focus {
  opacity: 0.4;
}
.sort__form-input:checked ~ .sequence-label {
  opacity: 1;
}

/*Фильтры*/
.filters {
  width: 200px;
  /* margin-left: -2px; */
  /* padding-left: 200px; */

  /* background-color: rgba(0, 0, 0, 0.08); */
  /* background-image: url("../img/filter-bg.jpg"); */
  background-position: 0 0;
  background-repeat: repeat;
}
.filters__form-fieldset {
  position: relative;

  padding: 0;
  margin: 0;
  border: none;
}
.filters__form-fieldset::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -1px;

  width: 201px;
  height: 2px;

  background-color: black;/*Изменить цвет на rgb*/
}
.filters__form-fieldset:nth-of-type(1) {
  margin-top: 85px;
}
.filters__form-fieldset:nth-of-type(2) {
  margin-top: 3px;
}
.filters__form-fieldset:nth-of-type(3) {
  margin-top: 45px;
}
.filters__range {
  position: relative;

  margin-top: 35px;
  height: 80px;
}
.filters__range-line {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: rgb(219, 219, 219);
}
.filters__range-line::before {
  content: "";
  position: absolute;
  top: 0;

  width: 120px;
  height: 2px;

  background-color: rgb(145, 201, 47);
}
.filters__range-button {
  position: absolute;
  top: 7px;
}
.filters__range-button::before {
  content: "";
  position: absolute;
  top: -17px;

  width: 20px;
  height: 23px;
  display: block;

  background-image: url("../img/filter-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.filters__range-button:first-of-type {
  left: -4px;
}
.filters__range-button:last-of-type {
  right: 56px;
}
.filters__range-button:first-of-type::before {
  left: -2px;
}
.filters__range-button:last-of-type::before {
  right: 17px;
}
.filters__range-button:hover::before,
.filters__range-button:active::before {
  top: -18px;
  width: 22px;
  height: 25px;

  background-image: url("../img/filter-button-active.svg");
}
.filters__range-button:first-of-type:hover::before,
.filters__range-button:first-of-type:active::before {
  left: -3px;
}
.filters__range-button:last-of-type:hover::before,
.filters__range-button:last-of-type:active::before {
  right: 16px;
}
/*Переопределение трансформации и межбуквенного интервала класса font*/
.filters__form-legend {
  text-transform: none;
  letter-spacing: normal;
}
.filters__form-list {
  margin: 0;
  margin-top: 17px;
  padding: 0;

  list-style: none;
}
.filter-bluetooth .filters__form-list {
  margin-top: 19px;
}
.filters__form-option {
  padding-left: 39px;
}
/*Для вставки иконок*/
.filters__form-label {
  position: relative;

  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}
.filters__form-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -44px;

  width: 30px;
  height: 30px;
  display: block;

  background-color: transparent;
  background-image: url("../img/checkbox-off.svg");
  background-position: center;
  background-repeat: no-repeat;
}
/*Класс для задания иконок для радио-кнопок*/
.filters__form-radio::before {
  width: 30px;
  height: 30px;

  background-image: url("../img/radio-off.svg");
}
.filters__form-label:hover::before,
.filters__form-label:focus::before {
  opacity: 0.6;
}
.filters__form-input:checked ~ .filters__form-label::before {
  background-image: url("../img/checkbox-on.svg");
  left: -42px;
}
.filters__form-input:checked ~ .filters__form-radio::before {
  background-image: url("../img/radio-on.svg");
  left: -44px;
}
/*Кнопка отправки формы. Убираем стоковый фон и рамку*/
.filters__form-submit {
  width: 200px;
  margin-top: 31px;

  background-color: transparent;
  border: none;
}

.catalog {
  width: 760px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.product-cards {
  display: flex;
  flex-direction: column;
}
/*Карточки товаров*/
.product-cards__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 71px;

  list-style: none;
}
.product-cards__item {
  position: relative;

  width: 360px;
  /* height: 460px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.product-cards__item-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 413px;
}
.product-cards__item-name {
  width: 75%;
  margin: 0;
  line-height: 22px;
  /* white-space: nowrap; */
}
/*Переопределяет трансформацию текста и межбуквенный интервал класса font*/
.product-cards__item-link {
  text-transform: none;
  letter-spacing: 0.13px;
}
.product-cards__item-price {
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  white-space: nowrap;
  letter-spacing: 0.3px;
  color: rgb(70, 70, 70);
}
/*Блок для изображения товара и поля с кнопками при наведении*/
.product-cards__item-pic {
  /* position: relative; */
  position: absolute;
  top: 0;

  width: 360px;
  height: 380px;
}
.product-cards__item-pic:hover > .pic-links,
.product-cards__item-pic:focus > .pic-links {
  visibility: visible;

  cursor: pointer;
}
.product-cards__item-img {
  width: 100%;
  height: auto;
}
/*Кнопки появляющиеся при наведении на изображение товара*/
.pic-links {
  position: absolute;
  top: 43px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(238, 238, 238, 0.7);
  visibility: hidden;
}
/*Ширина кнопок*/
.pic-links__link {
  width: 200px;
  display: block;
}
/*Класс для задания поведения ссылки К СРАВНЕНИЮ*/
.pic-link {
  margin-top: 9px;

  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.pic-link:hover,
.pic-link:focus {
  color: rgb(0, 0, 0);
}
.pic-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  position: relative;

  width: 760px;
  margin-top: -12px;
  margin-bottom: 78px;

  background-color: rgba(0, 0, 0, 0.08);
}
/*Постраничная навигация*/
.pagination__list {
  width: 505px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.pagination__nums {
  margin: 0 13px;
}
.pagination__button {
  position: absolute;
  top: 0;

  width: 126px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 2.8px;
}
.pagination__button:first-of-type {
  left: 0;
}
.pagination__button:last-of-type {
  right: 0;
}
/* .pagination__nums:first-child {
  margin-left: auto;
}
.pagination__nums:last-child {
  margin-right: auto;
} */
/* .pagination__item:first-child {
  margin-left: 30px;
}
.pagination__item:last-child {
  margin-right: 30px;
} */
.pagination__link {
  color: rgba(0, 0, 0, 0.3);
}
.pagination__link-current {
  color: rgb(0, 0, 0);
}
.pagination__link:hover,
.pagination__link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.pagination__link:active {
  color: rgb(0, 0, 0);
}
/*Для кнопок НАЗАД и ВПЕРЕД*/
.pagination__button:hover,
.pagination__button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.08);
}
/*Футер*/
.page-footer {
  margin-top: 83px;

  background-color: rgb(70, 70, 70);
}
.inner-page .page-footer {
  margin-top: 0;
}
.page-footer > .content-layout {
  display: flex;
  flex-direction: column;
}
.page-footer__top-floor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 30px;
}
.logo-bottom {
  margin: 0;
}
.bottom-nav {
  width: 330px;
  display: flex;
  margin-top: -7px;
  margin-right: -4px;
  justify-content: space-between;
  align-items: center;
}
.bottom-nav__list {
  width: 100px;
  padding: 0;
  margin: 0;
}
/*Желтые иконки для меню (ВХОД, СРАВНИТЬ и КОРЗИНА)*/
.user-nav__link-y::before {
  background-image: url("../img/user-icon-y.svg");
}
.compare-link-y::before {
  background-image: url("../img/compare-icon-y.svg");
}
.basket-link-y::before {
  background-image: url("../img/cart-icon-y.svg");
}
/*Поведение текста меню (ВХОД, СРАВНИТЬ и КОРЗИНА) в футере*/
.bottom-nav__link {
  color: rgba(255, 255, 255, 0.7)
}
.bottom-nav__link:hover,
.bottom-nav__link:focus {
  color: rgb(255, 255, 255);
}
.bottom-nav__link:active {
  color: rgba(255, 255, 255, 0.3)
}

.page-footer__middle-floor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
.bottom-service {
  width: 425px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 5px;
  margin-right: 37px;
}
/*Адрес и поведение ссылки на телефон*/
.page-footer__address {
  font-style: normal;
  color: rgb(255, 255, 255);
}
.page-footer__address:last-child {
  letter-spacing: 0.4px;
}
.page-footer__address-phone {
  color: rgb(255, 255, 255);
}
.page-footer__address-phone:hover,
.page-footer__address-phone:focus {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__address-phone:active {
  color: rgba(255, 255, 255, 0.3)
}
/*Задание белого цвета для меню (ДОСТАВКА, ГАРАНТИЯ и КОНТАКТЫ)*/
.bottom-service__link {
  color: rgb(255, 255, 255);
}
.bottom-service__link:hover,
.bottom-service__link:focus {
  color: rgba(255, 255, 255, 0.6);
}
.bottom-service__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__bottom-floor {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin-bottom: 67px;
}
.page-footer__bottom-floor::before {
  content: "";
  position: absolute;
  left: 0;

  width: 80px;
  height: 6px;

  background-color: rgb(255, 198, 0);
}
/*Меню социалок*/
.page-footer__social {
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 473px;

  list-style: none;
}
/*Общие правила для кнопок*/
.page-footer__social-link {
  width: 32px;
  height: 32px;
  display: block;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.3;
}
/*Изображения для кнопок*/
.page-footer__social-item:nth-child(1) .page-footer__social-link {
  background-image: url("../img/fb-icon.svg");
}
.page-footer__social-item:nth-child(2) .page-footer__social-link {
  background-image: url("../img/inst-icon.svg");
}
.page-footer__social-item:nth-child(3) .page-footer__social-link {
  background-image: url("../img/tw-icon.svg");
}
.page-footer__social-link:hover,
.page-footer__social-link:focus {
  opacity: 0.6;
}
.page-footer__social-link:active {
  opacity: 0.1;
}
/*Кнопка HTMLacademy*/
.page-footer__copyright {
  width: 27px;
  height: 35px;
  display: block;

  background-color: transparent;
  background-image: url("../img/html-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.page-footer__copyright:hover,
.page-footer__copyright:focus {
  opacity: 0.6;
}
.page-footer__copyright:active {
  opacity: 0.3;
}

.modal-connect {
  position: relative;
  /* z-index: 0; */

  width: 960px;
  height: 553px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal-connect::before {
  content: "";
  position: absolute;
  z-index: -2;

  width: 960px;
  height: 430px;
  display: block;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-connect__form {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.modal-connect__form-paragraph {
  width: 360px;
  margin-bottom: 30px;
}
.modal-connect__form-paragraph:last-of-type {
  flex-basis: 100%;
}
.modal-connect__form-paragraph:last-of-type .modal-connect__form-input {
  width: 730px;
}
/*Модальное окно СВЯЗАТЬСЯ С НАМИ*/
.modal-connect__form-label {
  display: block;
  margin-bottom: 10px;

  text-transform: none;
  letter-spacing: normal;
  line-height: 18px;
}
/*Стили для подписей полей формы*/
.modal-connect__form-input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
  opacity: 1;
}
.modal-connect__form-input:hover::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.modal-connect__form-input:focus::-webkit-input-placeholder {
  color: rgb(70, 70, 70);
}
.modal-connect__form-input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
  opacity: 1;
}
.modal-connect__form-input:hover::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.modal-connect__form-input:focus::-moz-placeholder {
  color: rgb(70, 70, 70);
}
/*Стили для полей формы*/
.modal-connect__form-input {
  width: 330px;
  padding: 15px;

  font: inherit;
  font-weight: normal;
  color: rgb(0, 0, 0);

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}
.modal-connect__form-input:hover {
  background-color: rgba(229, 229, 229, 0.8)
}
.modal-connect__form-input:focus {
  background-color: transparent;
  border: 3px solid rgb(240, 197, 46);
}
/*Кнопка отправки формы СВЯЗАТЬСЯ С НАМИ*/
.modal-connect__submit {
  width: 200px;

  background-color: transparent;
  border: none;
}

.modal-map {
  position: relative;

  width: 960px;
  height: 559px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal-map__link {
  width: 960px;
  height: 559px;
}
.modal-map__img {
  width: 100%;
  height: auto;
}
/*Кнопка закрытия модального окна*/
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  display: block;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}
.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}

/* .page h1,
.page h2,
.page h3,
.page h4,
.page li,
.page td,
.page address,
.page p,
.page a,
.page label,
.page b {
  visibility: hidden;
} *//*Временно!*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
